.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-deco-breadcrumbs-right {
    width: 8px;
    height: 12px;
    background-position: -10px -10px;
}

.sprite-icon-deco-phone {
    width: 19px;
    height: 19px;
    background-position: -38px -10px;
}
