.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-order-down-disabled {
    width: 11px;
    height: 10px;
    background-position: -10px -10px;
}

.sprite-icon-order-down-enabled {
    width: 11px;
    height: 10px;
    background-position: -41px -10px;
}

.sprite-icon-order-down-hover {
    width: 11px;
    height: 10px;
    background-position: -72px -10px;
}

.sprite-icon-order-up-disabled {
    width: 11px;
    height: 10px;
    background-position: -103px -10px;
}

.sprite-icon-order-up-enabled {
    width: 11px;
    height: 10px;
    background-position: -134px -10px;
}

.sprite-icon-order-up-hover {
    width: 11px;
    height: 10px;
    background-position: -165px -10px;
}

.sprite-icon-order-up-mask {
    width: 11px;
    height: 10px;
    background-position: -196px -10px;
}
