.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-btn-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-icon-btn-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -46px;
}

.sprite-icon-btn-home {
    width: 15px;
    height: 12px;
    background-position: -10px -82px;
}

.sprite-icon-btn-home-hover {
    width: 15px;
    height: 12px;
    background-position: -10px -114px;
}

.sprite-icon-btn-login {
    width: 20px;
    height: 17px;
    background-position: -10px -146px;
}

.sprite-icon-btn-login-hover {
    width: 20px;
    height: 17px;
    background-position: -10px -183px;
}

.sprite-icon-btn-logout {
    width: 21px;
    height: 17px;
    background-position: -10px -220px;
}

.sprite-icon-btn-logout-hover {
    width: 21px;
    height: 17px;
    background-position: -10px -257px;
}

.sprite-icon-btn-range-handle {
    width: 20px;
    height: 23px;
    background-position: -10px -294px;
}

.sprite-icon-btn-search {
    width: 17px;
    height: 17px;
    background-position: -10px -337px;
}

.sprite-icon-btn-search-focus {
    width: 17px;
    height: 17px;
    background-position: -10px -374px;
}

.sprite-icon-btn-user {
    width: 20px;
    height: 18px;
    background-position: -10px -411px;
}

.sprite-icon-btn-user-hover {
    width: 20px;
    height: 18px;
    background-position: -10px -449px;
}

.sprite-icon-slider-left {
    width: 22px;
    height: 40px;
    background-position: -10px -487px;
}

.sprite-icon-slider-right {
    width: 22px;
    height: 40px;
    background-position: -10px -547px;
}
